<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalhes do Personagem</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">    
      <p> Name: {{ detalhesPersonagem.name }} </p>
      <p> Height: {{ detalhesPersonagem.height }} </p> 
      <p> Mass: {{ detalhesPersonagem.mass }} </p> 
      <p> Hair color: {{ detalhesPersonagem.hair_color }} </p> 
      <p> Skin color: {{ detalhesPersonagem.skin_color }} </p> 
      <p> Eye color: {{ detalhesPersonagem.eye_color }} </p> 
      <p> Birth year: {{ detalhesPersonagem.birth_year }} </p> 
      <p> Gender: {{ detalhesPersonagem.gender }} </p> 
  </div>
</ng-template>
<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
      <img class="img" src="https://png.icons8.com/color/1600/star-wars.png">
  </nav>
</div>

<div class="container">
<div class="row">
<div class="card img-div" *ngFor="let p of lista" style="width: 17rem;" (click)="openModal(template, p)">
  <img src="https://ambrosia.com.br/wp-content/uploads/2015/12/star.jpg" class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{p.name}}</p>
  </div>
</div>
</div>
</div>